<section class="bottom-form">
	<div class="container d-flex justify-content-center">

				<form class="form-inline" action="#">
					<label class="bottom-form-label" for="bf_email">NEWSLETTER:</label>
					<span class="bottom-form-icon"><i class="fas fa-envelope"></i></span>
					<input type="email" class="form-control bottom-form-input" id="bf_email"
						   placeholder="Enter your email address"
						   name="email">
					<button type="submit"
							class="btn btn-outline-light bottom-form-btn"><i class="fas fa-arrow-right"></i></button>
				</form>

	</div>
</section>