<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_10  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="10">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_11  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="11">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_12  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="12">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_13  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="13">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_14  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="14">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_15  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="15">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_16  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="16">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_17  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="17">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_18  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="18">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_19  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="19">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>
<div class="products-catalog-item d-flex justify-content-center p-0 col-12 col-md-6 col-lg-3">
	<div class="card" style="width: 14rem;">
		<div class="products-img-card_20  products-img">
			<div class="products-card-btn">
				<a href="#" type="button" class="btn btn-prod-details"
				   data-toggle="modal"
				   data-target="#productModal" data-whatever="20">Quick View</a>
				<a href="#" class="btn btn-basket"><i
						class="fas fa-shopping-basket"></i> add to
					cart</a>
				<div class="products-icon-sale">sale</div>
			</div>
		</div>
		<div class="card-body text-center">
			<h4 class="card-title">Aenean Ru Bristique</h4>
			<p class="card-text text-center">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
				<i class="far fa-star"></i>
			</p>
			<div class="card-content">
				<div >
					<span><i class="far fa-heart"></i></span>
					<span><i class="fas fa-exchange-alt"></i></span>
				</div>
				<div class="card-content-price">&#36;30.00</div>
			</div>
		</div>
	</div>
</div>