<section class="features">
        <div class="container d-flex flex-wrap">                  
            <div id="features"><a name="top" href="#"></a></div>
            <div class="col-12 col-sm-6 col-lg-3 features-item-wrapper ">
                <div class="features-item">
                    <div class="features-item-icon rounded-circle">
                        <i class=" fa fas fa-truck rounded-circle "></i>
                    </div>
                    <div class="features-item-text text-uppercase">
                        <p class="mb-0  font-weight-bold">Free Shipping</p>
                        <p> all order</p></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 features-item-wrapper ">
                <div class="features-item">
                    <div class="features-item-icon rounded-circle">
                        <i class="fa fas fa-headphones rounded-circle "></i></div>
                    <div class="features-item-text text-uppercase">
                        <p class="mb-0  font-weight-bold">24/7 customer</p>
                        <p>support</p></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 features-item-wrapper">
                <div class="features-item">
                    <div class="features-item-icon rounded-circle">
                        <i class="fa fas fa-reply-all rounded-circle"></i></div>
                    <div class="features-item-text text-uppercase">
                        <p class="mb-0  font-weight-bold">money back</p>
                        <p>guarantee</p></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 features-item-wrapper">
                <div class="features-item">
                    <div class="features-item-icon rounded-circle">
                        <i class="fa fa fas fa-bullhorn rounded-circle"></i></div>
                    <div class="features-item-text text-uppercase">
                        <p class="mb-0  font-weight-bold">MEMBER DISCOUNT</p>
                        <p>first order</p></div>
                </div>
            </div>
        </div>    
    </section>