<!-- furniture gallery -->
<section class="gallery">
    <div class="container">
            <div id="gallery"><a name="top" href="#"></a></div>
        <div class="row">
            <div class="furniture-gallery w-sm-451 w-md-555 col-lg-6">

                <div class="addList icons d-flex flex-column">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Add to wishlist"><i
                            class="far fa-heart border border-dark p-2 mb-1 ml-2"></i></a>
                    <a href="#"  id="galleryQV" data-toggle="modal" data-target="#productModal"  data-placement="right"
                       title="Quick view"><i
                            class="fas fa-eye border border-dark p-2 mb-1 ml-2"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                            class="fas fa-shopping-basket border border-dark p-2 mb-1 ml-2"></i></a>
                </div>

                <div>

                    <div class="price  rounded-circle bg-secondary  px-2 py-4">
                        <div class="price-now h4 text-white">&#36;120.00</div>
                        <div class="price-now h6 text-white"><s>&#36;160.00</s></div>
                    </div>
                    <div class="main-info bg-light">
                        <div class="triangle-topleft"></div>
                        <div class="rate">
                            <p class="rate-goods font-weight-bold text-center mb-0">Aenean Ru Bristique</p>
                            <div class="stars d-flex justify-content-center">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="triangle-bottomright"></div>
                    </div>


                    <h2>furniture gallery</h2>                


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item col-3">
                            <a class="nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
                                aria-controls="featured" aria-selected="true">Featured</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" id="top-seller-tab" data-toggle="tab" href="#top-seller" role="tab"
                                aria-controls="top-seller" aria-selected="false">TOP SELLER</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" id="sale-off-tab" data-toggle="tab" href="#sale-off" role="tab"
                                aria-controls="sale-off" aria-selected="false">SALE OFF</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" id="top-rated-tab" data-toggle="tab" href="#top-rated" role="tab"
                                aria-controls="top-rated" aria-selected="false">TOP RATED</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="featured" role="tabpanel"
                            aria-labelledby="featured-tab">
                            <div class="review-container active" data-set="1">
                                <img class="avatar"  data-whatever="10" src="./src/images/gallery/10.png"
                                     alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="2">
                                <img class="avatar" data-whatever="11" src="./src/images/gallery/11.png"
                                     alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="3">
                                <img class="avatar" data-whatever="12" src="./src/images/gallery/12.png"
                                     alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="4">
                                <img class="avatar" data-whatever="13" src="./src/images/gallery/13.png"
                                     alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="5">
                                <img class="avatar" data-whatever="14" src="./src/images/gallery/14.png"
                                     alt="gallery-image">
                            </div>
                            <div class="bottom-slider  w-100">
                                <div class="container">
                              <div class="row">
                                <div class="wrapper-slider d-flex row-no-wrap">
                                    <button class="btn-left"> <i class="fas fa-chevron-left arrow"></i> </button>
                                    <img class="img-slider col-2 zoom" data-set="1" src="./src/images/gallery/10.png"
                                        alt="gallery-image">
                                    <img class="img-slider col-2" data-set="2" src="./src/images/gallery/11.png"
                                        alt="gallery-image">
                                    <img class="img-slider col-2" data-set="3" src="./src/images/gallery/12.png"
                                        alt="gallery-image">
                                    <img class="img-slider col-2" data-set="4" src="./src/images/gallery/13.png"
                                        alt="gallery-image">
                                    <img class="img-slider col-2" data-set="5" src="./src/images/gallery/14.png"
                                        alt="gallery-image">
                                    <button class="btn-right"> <i class="fas fa-chevron-right arrow"></i>
                                    </button>
                                </div>
                              </div> 
                            </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="top-seller" role="tabpanel" aria-labelledby="top-seller-tab">
                            <div class="review-container" data-set="1">
                                <img class="avatar" src="./src/images/gallery/10.png" alt="gallery-image">
                            </div>
                            <div class="review-container active" data-set="2">

                                <img class="avatar" src="./src/images/gallery/11.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="3">
                            </div>
                            <div class="review-container" data-set="4">
                                <img class="avatar" src="./src/images/gallery/13.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="5">
                                <img class="avatar" src="./src/images/gallery/14.png" alt="gallery-image">
                            </div>
                            <div class="bottom-slider">
                                <div class="wrapper-slider d-flex">
                                    <button class="btn-left"> <i class="fas fa-chevron-left arrow"></i> </button>
                                    <img class="img-slider" data-set="1" src="./src/images/gallery/10.png"
                                        alt="gallery-image">
                                    <img class="img-slider zoom" data-set="2" src="./src/images/gallery/11.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="3" src="./src/images/gallery/12.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="4" src="./src/images/gallery/13.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="5" src="./src/images/gallery/14.png"
                                        alt="gallery-image">
                                    <button class="btn-right"> <i class="fas fa-chevron-right arrow"></i> </button>
                                </div>
                            </div>



                        </div>
                        <div class="tab-pane fade" id="sale-off" role="tabpanel" aria-labelledby="sale-off-tab">
                            <div class="review-container" data-set="1">
                                <img class="avatar" src="./src/images/gallery/10.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="2">
                                <img class="avatar" src="./src/images/gallery/11.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="3">
                                <img class="avatar" src="./src/images/gallery/12.png" alt="gallery-image">
                            </div>
                            <div class="review-container active" data-set="4">
                                <img class="avatar" src="./src/images/gallery/13.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="5">
                                <img class="avatar" src="./src/images/gallery/14.png" alt="gallery-image">
                            </div>

                            <div class="bottom-slider">
                                <div class="wrapper-slider d-flex">
                                    <button class="btn-left"> <i class="fas fa-chevron-left arrow"></i> </button>
                                    <img class="img-slider" data-set="1" src="./src/images/gallery/10.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="2" src="./src/images/gallery/11.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="3" src="./src/images/gallery/12.png"
                                        alt="gallery-image">
                                    <img class="img-slider zoom" data-set="4" src="./src/images/gallery/13.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="5" src="./src/images/gallery/14.png"
                                        alt="gallery-image">
                                    <button class="btn-right"> <i class="fas fa-chevron-right arrow"></i> </button>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="top-rated" role="tabpanel" aria-labelledby="top-rated-tab">
                            <div class="review-container" data-set="1">
                                <img class="avatar" src="./src/images/gallery/10.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="2">
                                <img class="avatar" src="./src/images/gallery/11.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="3">
                                <img class="avatar" src="./src/images/gallery/12.png" alt="gallery-image">
                            </div>
                            <div class="review-container" data-set="4">
                                <img class="avatar" src="./src/images/gallery/13.png" alt="gallery-image">
                            </div>
                            <div class="review-container active" data-set="5">
                                <img class="avatar" src="./src/images/gallery/14.png" alt="gallery-image">
                            </div>
                            <div class="bottom-slider">
                                <div class="wrapper-slider d-flex">
                                    <button class="btn-left"> <i class="fas fa-chevron-left arrow"></i> </button>
                                    <img class="img-slider" data-set="1" src="./src/images/gallery/10.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="2" src="./src/images/gallery/11.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="3" src="./src/images/gallery/12.png"
                                        alt="gallery-image">
                                    <img class="img-slider" data-set="4" src="./src/images/gallery/13.png"
                                        alt="gallery-image">
                                    <img class="img-slider zoom" data-set="5" src="./src/images/gallery/14.png"
                                        alt="gallery-image">
                                    <button class="btn-right"> <i class="fas fa-chevron-right arrow"></i> </button>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div> 

              <div class="row">
                    <div class="container">
                      <div class="gallery-right  d-none d-lg-block  border h-100">
                        <div class=" flex-column px-5">
                            <div class="py-5">
                                <span class="from py-2">FROM<span class="fromPrice">$50.80</span></span>
                                <div class="badroom py-2">Badroom Bed</div>
                                <button type="button" class="btn button-shop py-2">shop now</button>
                            </div>
                            <img src="./src/images/product/bed.png" alt="" class="py-2 w-100">
                        </div>
    
                      </div>
                    </div>
                  </div> 
            
        </div>

</section>