<!-- <section class="navbar-top">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
       <ul class="navbar-nav row">
         <li class="nav-item ml-4"><span class="navbar-text">USD</span></li>
         <li class="nav-item ml-5"><span class="navbar-text">English</span></li>
         <li class="nav-item ml-5"><a class="nav-link" href="#">Help</a></li>
         <li class="nav-item ml-auto"><a class="nav-link" href="#">Login</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
       </ul>
     </nav>              

</section> -->
<section class="navbar-top">
  <div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-4">
        <span class="navbar-text">USD</span>
      </li>
      <li class="nav-item ml-2">
        <span class="navbar-text">English</span>
      </li>
      <li class="nav-item pl-2">
        <a class="nav-link pl-0 pr-0 pb-1" href="#">Help</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item pr-3 pl-0">
        <a class="nav-link pl-0 pr-0 pb-1" href="#"><i class="fas fa-user"></i>Login</a>
      </li>
      <li class="nav-item pl-4 pr-0 ">
        <a class="nav-link pl-0 pr-0 mr-0 pb-1" href="#"><i class="fas fa-lock"></i>Register</a>
      </li>
    </ul>

  </nav>
 </div>
</section>
