<section class="products">
	<div class="container ">
		<div class="row">
			<div class="col-lg-9 col-12 p-0 m-0">
				<div class="d-flex justify-content-end p-0 m-0">
					<div class="nav-dropdown">
						<a class="dropdown-link" href="#" id="navbardrop" data-toggle="dropdown">
							<i class="fas fa-list"></i> Filter by
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">categories</a>
							<a class="dropdown-item" href="#">price</a>
							<a class="dropdown-item" href="#">color</a>
							<a class="dropdown-item" href="#">size</a>
							<a class="dropdown-item" href="#">tags</a>
						</div>
					</div>
				</div>
				<h2 class="products-title">furniture</h2>
				<div class="products-catalog p-0 m-0">
					<div class="row d-flex justify-content-between p-0 m-0">
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3">
							<div class="card">
								<div class="products-img-card_1  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="1">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3">
							<div class="card">
								<div class="products-img-card_2  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="2">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>

						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3">
							<div class="card">
								<div class="products-img-card_3  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="3">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-md-block">
							<div class="card">
								<div class="products-img-card_4  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="4">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-lg-block">
							<div class="card">
								<div class="products-img-card_5  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="5">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-lg-block">
							<div class="card">
								<div class="products-img-card_6  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="6">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-lg-block">
							<div class="card">
								<div class="products-img-card_7  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="7">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-lg-block">
							<div class="card">
								<div class="products-img-card_8  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="8">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="products-catalog-item p-0 col-12 col-md-6 col-lg-3 d-none d-lg-block">
							<div class="card">
								<div class="products-img-card_9  products-img">
									<div class="products-card-btn">
										<a href="#" type="button" class="btn btn-prod-details"
										   data-toggle="modal"
										   data-target="#productModal" data-whatever="9">Quick View</a>
										<a href="#" class="btn btn-basket"><i
												class="fas fa-shopping-basket"></i> add to
											cart</a>
										<div class="products-icon-sale">sale</div>
									</div>
								</div>
								<div class="card-body text-center">
									<h4 class="card-title">Aenean Ru Bristique</h4>
									<p class="card-text text-center">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</p>
									<div class="card-content">
										<div >
											<span><i class="far fa-heart"></i></span>
											<span><i class="fas fa-exchange-alt"></i></span>
										</div>
										<div class="card-content-price">&#36;30.00</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col text-center">
					<button type="button" class="own-btn loading">
						<span class="spinner-border spinner-border-sm load" role="status" aria-hidden="true"></span>
						Loading...
					</button>
				</div>

				<!-- Modal -->

				<div class="modal fade" id="productModal" tabindex="-1" role="dialog"
					 aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="container-fluid">
								<div class="row position-static">
									<div class="col-12 col-md-6 position-static">
										<div class="row">
											<div class="modal-product-img">
											</div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="modal-header position-static">
											<div class="position-static">
												<h3 class="modal-product-title">Sunbaby Magic Bear Chair</h3>
												<div class="modal-product-stars">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<i class="far fa-star"></i>
													<i class="far fa-star"></i>
													(0 reviews)
												</div>
												<a  href="#" type="button" class="close modal-product-close"
													data-dismiss="modal">×</a>
											</div>
										</div>
										<div class="modal-body">
											<div>
												<span class="modal-product-op">&#36;30.00</span>
												<span class="modal-product-np">&#36;25.00</span>
											</div>
											<hr class="modal-product-hr">
											<div>
												<a href="#" class="btn btn-basket-light"><i
														class="fas fa-shopping-basket"></i> add to
													cart
												</a>
												<span class="modal-product-like">
															<i class="far fa-heart"></i>
														</span>
											</div>
											<p class="modal-product-text-title mt-3 mb-2">Quick Overview</p>
											<p>Nam tristique porta ligula, vel viverra sem eleifend nec.
												Nulla sed purus augue, eu euis mod tellus. Nam mattis eros tis sagittis.
												Vestibulum suscipit cursus biben.</p>
											<hr class="modal-product-hr">
											<p class="my-3"><span class="modal-product-text">Availability: </span>In
												Stock</p>
											<p class="my-3"><span class="modal-product-text">Category: </span>Furniture</p>
										</div>
									</div>
									<div class="col-12 col-md-12 ml-auto">
										<div class="modal-footer">
											<div class="modal-product-footer-container">
												<a href="#" class="btn-social-fb"><i class="fab fa-facebook-f"></i>
													Share</a>
												<a href="#" class="btn-social"><i class="fab fa-google-plus-g"></i>
													Google+</a>
												<a href="#" class="btn-social"><i class="fab fa-twitter"></i> Tweet</a>
												<a href="#" class="btn-social"><i class="fab fa-pinterest-p"></i>
													Pinterest</a>
												<a href="#" class="btn-social"><i class="fab fa-linkedin-in"></i>
													Linkedin</a>
											</div>
										</div>
									</div>
								</div>
							</div>
					 	</div>
					</div>
				</div>

				<!-- Second part of section (filter) -->
			</div>
			<div class="col-lg-3 products-filter">
				<div class="container-fluid">
					<div class="row">
						<h3 class="products-filter-title">Filter By categories</h3>
						<div class="products-filter-container">
							<div class="products-filter-categories-item">
								<span class="products-filter-categories-item-text">>  Furniture</span>
								<span class="products-filter-round-shape">5</span>
							</div>
							<div class="products-filter-categories-item">
								<span class="products-filter-categories-item-text">>  Sofa</span>
								<span class="products-filter-round-shape">4</span>
							</div>
							<div class="products-filter-categories-item">
								<span class="products-filter-categories-item-text">>  Chair</span>
								<span class="products-filter-round-shape">6</span>
							</div>
							<div class="products-filter-categories-item">
								<span class="products-filter-categories-item-text">>  Table</span>
								<span class="products-filter-round-shape">8</span>
							</div>
							<div class="products-filter-categories-item">
								<span class="products-filter-categories-item-text">>  Bedroom</span>
								<span class="products-filter-round-shape">3</span>
							</div>
						</div>
					</div>
					<div class="row">
						<h3 class="products-filter-title">Filter By Price</h3>
							<div class="products-filter-container">
								<input type="range" class="products-filter-range" name="range" value="0" min="0"
									   max="100">
								<div class="row d-flex justify-content-between p-4">
									<div class="products-filter-price">filter</div>
									<div class="products-filter-price-value" id="filterRangeValue">ut to $0</div>
								</div>
							</div>
					</div>
					<div class="row">
						<h3 class="products-filter-title">Filter By color</h3>
						<div class="products-filter-container">
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-red">
									<input type="checkbox" class="products-filter-color-input" name="color" id="filter-red"
																								   value="">
									<span class="products-filter-color-pseudo-red"><i class="fas fa-check"></i></span>
									Red</label>
							</div>
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-black">
									<input type="checkbox" class="products-filter-color-input" name="color"
										   id="filter-black" value="">
									<span class="products-filter-color-pseudo-black"><i class="fas fa-check"></i></span>
									Black</label>
							</div>
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-yellow">
									<input type="checkbox" class="products-filter-color-input" name="color"
										   id="filter-yellow" value="">
									<span class="products-filter-color-pseudo-yellow"><i class="fas fa-check"></i></span>
									Yellow</label>
							</div>
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-blue">
									<input type="checkbox" class="products-filter-color-input" name="color"
										   id="filter-blue" value="">
									<span class="products-filter-color-pseudo-blue"><i class="fas fa-check"></i></span>
									Blue</label>
							</div>
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-pink">
									<input type="checkbox" class="products-filter-color-input" name="color"
										   id="filter-pink" value="">
									<span class="products-filter-color-pseudo-pink"><i class="fas fa-check"></i></span>
									Pink</label>
							</div>
							<div class="products-filter-color-form">
								<label class="products-filter-color-label" for="filter-green">
									<input type="checkbox" class="products-filter-color-input" name="color"
										   id="filter-green" value="">
									<span class="products-filter-color-pseudo-green"><i class="fas fa-check"></i></span>
									Green</label>
							</div>

						</div>

					</div>
					<div class="row">
						<h3 class="products-filter-title">Filter By size</h3>
						<div class="products-filter-container">
							<div class="products-filter-size-form">
								<label class="products-filter-size-label" for="filter-s">
									<input type="checkbox" class="products-filter-size-input" name="color"
										   id="filter-s"
										   value="">
									<span class="products-filter-size-pseudo"><i class="fas fa-check"></i></span>
									s
								</label>
								<span class="products-filter-round-shape">4</span>
							</div>
							<div class="products-filter-size-form">
								<label class="products-filter-size-label" for="filter-m">
									<input type="checkbox" class="products-filter-size-input" name="color"
										   id="filter-m"
										   value="">
									<span class="products-filter-size-pseudo"><i class="fas fa-check"></i></span>
									m
								</label>
								<span class="products-filter-round-shape">8</span>
							</div>
							<div class="products-filter-size-form">
								<label class="products-filter-size-label" for="filter-l">
									<input type="checkbox" class="products-filter-size-input" name="color"
										   id="filter-l"
										   value="">
									<span class="products-filter-size-pseudo"><i class="fas fa-check"></i></span>
									l
								</label>
								<span class="products-filter-round-shape">6</span>
							</div>
							<div class="products-filter-size-form">
								<label class="products-filter-size-label" for="filter-xl">
									<input type="checkbox" class="products-filter-size-input" name="color"
										   id="filter-xl"
										   value="">
									<span class="products-filter-size-pseudo"><i class="fas fa-check"></i></span>
									xl
								</label>
								<span class="products-filter-round-shape">4</span>
							</div>
							<div class="products-filter-size-form">
								<label class="products-filter-size-label" for="filter-xxl">
									<input type="checkbox" class="products-filter-size-input" name="color"
										   id="filter-xxl"
										   value="">
									<span class="products-filter-size-pseudo"><i class="fas fa-check"></i></span>
									xxl
								</label>
								<span class="products-filter-round-shape">2</span>
							</div>

						</div>
					</div>
					<div class="row">
						<h3 class="products-filter-title">Filter By tags</h3>
						<div class="products-filter-container">
							<div class="row mb-3 w-100%">
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Table</span>
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Chair</span>
							</div>
							<div class="row mb-3 w-100%">
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Hand Bag</span>
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Women</span>
							</div>
							<div class="row mb-3 w-100%">
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Fashion</span>
								<span class="products-filter-tags-item"><i class="fas fa-tags"></i>  Clothes</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>