.logo-container{
  width: 165px;
  height: 77px;
  background-image: url("../images/logos/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}