// Section FEATURES
.features {
    padding-top: 20px;
    z-index: 1000;
}

.features-item {
    margin: 0 auto;
    width: 260px;
    text-align: center;
    padding-top: 2px;
    position: relative;
}

.features-item-wrapper {
    position: relative;
    padding: 20px 0 50px 0;
    z-index: 1000;
}

.features-item-icon {
    position: absolute;
    left: 95px;
    bottom: 82px;
    border: 1px solid black;
    width: 76px;
    height: 76px;
    background-color: white;
    padding-top: 3px;

}

.features-item-icon i {
    width: 62px;
    height: 62px;
    border: 1px solid black;
    font-size: 26px;
    text-align: center;
    margin-top: 3px;
    box-sizing: border-box;
    padding: 16px 0;
    background-color: white;
}

.features-item-text {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #b7b7b7;
    width: 260px;
    height: 121px;
    margin: 0 auto;
    padding: 56px 0;
}

.features-item:hover > .features-item-icon > i {
    background-color: #d58e32;
    color: white;
    border: 1px solid #d58e32;

}

.features-item:hover > .features-item-text {
    color: #e0a38e;
}

.features-item:hover > .features-item-icon {
    border: 1px solid #d58e32;
}

