// Section HEADER
.header{
    background-color:#363636;    
    height: 145px;
    .close{
      background-color: #2A2A2A;
      position: relative;
      bottom: 16px;
      left: 16px;
      }
      .modal-window-header{
        font-size: larger;
        font-weight: bold;
        color: rgba(147, 147, 147, 255);
      }
      .modal-window-text{
        color: rgba(147, 147, 147, 255);
      }
   .container{
    height: 100%;
   }    
    .row{        
       height: 100%;
    }
    a{ 
      display: block;  
    }
   }

   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

.phone{
    color: white;
    font-size: 17px;    
    a{ 
      display:flex;    
      
    color: white !important;
     &:hover span{
      border-bottom: 1px solid white;
    }
    img{
   position: relative;
    }
    span{
      border-bottom: 1px solid transparent;
      align-self: center;
      padding-top:3px; 
      padding-bottom: 3px; 
    }
  }
}

.cart img{
  padding: 14px;
  background-color: #d58e32;
}
.rounded-circle {
  border-radius: 50% !important;
}
.my-card-items-count {
  width: 25px;
  height: 25px;
  margin: -10px;
  text-align: center;
  line-height: 25px; 
}
