// Section NAVBAR
.navbar-top{
  background-color: #343a40;

  .fa-lock:before{
    top:8px;
    right:49px;
    position:absolute;
  }
  .fa-user:before{
    top:8px;
    right:53px;
    position:absolute;
  }
  .nav-item {
    position: relative;

  }
  .navbar-text{
    color: white !important;
  }
  .nav-link{
    border-bottom: 1px solid transparent;
    color: white !important;

  }
  .nav-link:hover {
    border-bottom: 1px solid ;
  }

  .navbar{
    height: 54px;
    font-size:13px;
    padding: 0;


  }

}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0px;
  outline: 0;

  .close{
    opacity:1;
    width: 41px;
    height: 37px;
    text-align: center;
    line-height:0;
    font-size: 16px;
  }
  .btn-dark{
    background-color: black;
    margin-bottom: 49px;
  }
  h2{
    padding-bottom: 31px;
    padding-top: 64px;
    font-size: 23px;
    font-weight: bold;
    color: rgba(42, 42, 42, 255);
  }
}



.fa-times:before {
  position: relative;
  bottom: 5px;
}
