@import "variables";
@import "mixin";
@import "reset";
@import "fuction";

@import "sections/sections";
@import "components/components";
@import "carousel/owl.carousel";


@media (min-width: 768px) {
  .stocks-office-chair{
    width: 555px;
    height: 195px;
  }
  .stocks-office-chair-text{
    font-size: 1.75rem;
    &-smaller{
      font-size: 1rem;
    }
  }
  .stocks-office-chair-ligth-text{
    font-size: 2.25rem;
    margin-top: 16px;
  }
  .stocks-special-text{
    font-size: 1.225rem;
    margin-top: 10px;
  }
  .stocks-special-light-text{
    font-size: 1.5rem;
  }
  .stocks-special{
    width: 555px;
    height: 195px;
  }
  .bottom-form-input{
    padding-right: 260px;
  }
  .bottom-form-label {
    display: inline-block;
  }
  .bottom-form-btn {
    margin-left: 20px;
  }
  .footer-title{
    font-size: 1.37rem;
  }
  .owl-dots{
    display: inline-block;
    top: 0;
  }
  .owl-nav{
    display: none;
  }
  .title-light::after{
    width: 75%;  }

  .products-catalog-item .card{
      margin-right: 30px;
   }

}

@media (min-width: 992px) {
  .products-filter{
    display: block;
  }

  .title-light::after{
    width: 83%;
  }
  .products-catalog-item {
    margin-right: 30px;
  }

  .products-catalog-item .card{
    margin-right: 0;
  }

  .modal-product-footer-container{
    @include flex-layout(flex-start, center);
  }
}

@media (max-width: 992px){
  .nav-dropdown{
    display: block;
  }

}

@media (max-width: 1200px) {
  .stocks-office-chair {
    margin-bottom: 30px;
  }
}



